dist/
!www/favicon.ico
ww/
www/
src/index.html

src/assets/data/
src/components/data/
src/components.d.ts
*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

script/dump/
.firebase/
.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

.git1/
/design
